# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Secrets
.env

# Action Server
.datadir/
devdata/
output/
.devrun/
*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
!*.tfvars.example
